beautifulsoup4==4.9
flask
flask-cors
google==3.0.0
langchain
nltk
openai
scikit-learn
youtube-dl==2021.12.17
youtube-transcript-api==0.6.1
translators
selenium
python-docx
python-pptx
Document
pydub
Spire.Presentation
langchain_community
python-dotenv
PyJWT
pyunsplash
pymongo
stripe
